  <a class="alert-message" href="<%= new_user_session_path  %>">
    <div class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert">
    <%= message %>
    </div>
  </a>

