<div class="container-custom col-8 col-lg-6 mx-auto my-5">
  <div class="p-4">
    <h1 class="text-center">Bienvenido a TheRialNews</h1>
    <p class="text-center mb-4">La mejor fuente de noticias satíricas</p>
  </div>
    <img src="<%= asset_path('news.jpg') %>" alt="News" class="img-fluid rounded-bottom">
</div>





