.container-custom {
    border-radius: 10px;
    background: #ededed;
    box-shadow: 20px 20px 60px #c9c9c9,
        -20px -20px 60px #ffffff;
}

.alert-message{
    text-decoration: none;
    color: crimson;
}
